# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.obj
*.lib
*.res
*.pdb
*.ilk
*.moc

# Qt-es

*.qmlc
*.stash
*.pro.user
*.pro.user.*
moc_*.cpp
moc_*.h
qrc_*.cpp
Makefile
Makefile.*
*-build-*
/_build
/bin/*.dll
/bin/*.exe
/bin/*.ini
/bin/i18n/*.cmd
/bin/style/style.unused.css
/etc
/nsis/*.psd
/nsis/*.exe
*.user
/build-Qt*/*
/build-*/*

# VIM

*.swp
*.suo

# Other

Thumbs.db
*VC.db
*.tlog
resource*.h
*.log
users*appdatalocaltemp*
object_script.*.*
*.autosave

/bin/*.debug
/bin/*.release
